// Tastebite Font Family Variables
$inter-font-family: 'Inter', sans-serif;
$playfair-font-family: 'Playfair Display', serif;

// Tastebite Color Variables
$dark: #575757;
$dark-gray: #808080;
$light-gray: #e9e9e9;
$lightest-gray: #f9f9f9;
$primary: #ff642b;
$primary-light: #ffd8ca;
$primary-100: #fff6f3;
$secondary: #e4f1ff;
$danger: #ff2c2c;
$success: #60dd8d;
$warning: #ff964a;
$border-color: rgba(0, 0, 0, 0.2);
$gray: #8e8e8e;
$black: #000;
$black-900: #2a2a2a;
$gray-200: #e8e8e8;
$gray-100: #d8d8d8;
$gray-300: #7f7f7f;
$gray-400: #f3f3f3;
$orange: #ff642f;
$dark-300: #303030;
$facebook-color: #3b5998;
$info-800: #17a2b8;
$gray-light-300: #cccccc;
$danger-light-100: #d44950;
$info-dark-200: #4f9fcf;
$info-dark: #2f6f9f;
$secondary-100: #fafafb;
$shade-200: #ebf4ff;
$blue: #007bff;

// Tastebite Font Weight Variables
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-100: 100;
