@import 'styles/variables';

.navigation-bar {
  margin: 1rem 0;

  .nav-link {
    color: $black !important;
  }

  .nav-link:hover {
    color: $orange !important;
  }

  @media screen and (min-width: 990px) {
    .login {
      margin-right: 1rem;
    }
  }

  @media screen and (max-width: 991px) {
    .login {
      margin-bottom: 0.5rem;
    }
  }
}
